Repository Tresster/Botge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tresster, @gentlebob, @widepogcrazy

.github/CODEOWNERS:

* @Tresster
/nginx/default.conf @gentlebob

/src/bot.ts @Tresster @gentlebob
/src/index.ts @Tresster @gentlebob

/compose.sample.yaml @gentlebob @Tresster
/src/emote-matcher.ts @gentlebob @Tresster
/src/update-commands-docker.ts @gentlebob @Tresster
/src/api/cached-url.ts @gentlebob @Tresster
/src/command-handlers/emote.ts @gentlebob @Tresster
/src/command-handlers/steam.ts @gentlebob @Tresster
/src/command-handlers/transient.ts @gentlebob @Tresster
/src/utils/command-handlers/emote/download-asset.ts @gentlebob @Tresster
/src/utils/command-handlers/emote/ffprobe-utils.ts @gentlebob @Tresster

/src/command-handlers/gemini.ts @widepogcrazy @Tresster

package updates.
  package-lock.json
  package.json
Owners: @Tresster

updated support and links.
  CODE_OF_CONDUCT.md
  SECURITY.md
  SUPPORT.md
  TERMS.md
Owners: @Tresster

moved md files, added npm-publish.yml, added npmignore,
  .dockerignore
  .github/workflows/npm-public.yml
  .npmignore
  Dockerfile
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/PRIVACY.md
  docs/README.md
  docs/SECURITY.md
  docs/SUPPORT.md
  docs/TERMS.md
  package-lock.json
  package.json
Owners: @Tresster

test commit
  test.txt
Owners: @Tresster

renamed package. moved readme.
  .dockerignore
  .github/workflows/npm-public.yml
  Dockerfile
  README.md
  package-lock.json
  package.json
  test.txt
Owners: @Tresster

added publish
  .github/workflows/publish.yml
Owners: @Tresster

upgraded version.
  Dockerfile
  package-lock.json
  package.json
Owners: @Tresster

updated build.
  package.json
Owners: @Tresster

compose changes, updated scripts.
  .github/workflows/publish.yml
  .husky/pre-commit
  Dockerfile
  compose.sample.yaml
  docs/CONTRIBUTING.md
  package.json
Owners: @Tresster, @gentlebob

compose changes.
  compose.sample.yaml
Owners: @gentlebob, @Tresster

dockerfile change.
  Dockerfile
Owners: @Tresster

publish change.
  .github/workflows/publish.yml
Owners: @Tresster

npmignore and package changes.
  .npmignore
  package.json
Owners: @Tresster

updated version.
  Dockerfile
  package-lock.json
  package.json
Owners: @Tresster

added dist to gitignore
  .gitignore
Owners: @Tresster

version update, removed prettier after build, ignore file changes.
  .dockerignore
  .github/workflows/publish.yml
  .gitignore
  .husky/pre-commit
  .npmignore
  Dockerfile
  data/.gitkeep
  docs/CONTRIBUTING.md
  meili_data/.gitkeep
  package-lock.json
  package.json
  tmp/.gitkeep
Owners: @Tresster

remove meili_data gitkeep
  .gitignore
  meili_data/.gitkeep
Owners: @Tresster

removed web search from gpt
  src/command-handlers/openai.ts
Owners: @Tresster

changed gpt model.
  src/command-handlers/openai.ts
Owners: @Tresster

added const assertations.
  src/bot.ts
  src/command-handlers/emote.ts
  src/command-handlers/find-the-emoji.ts
  src/command-handlers/gemini.ts
  src/command-handlers/openai.ts
  src/command-handlers/settings.ts
  src/command-handlers/transient.ts
  src/emote-matcher.ts
  src/guilds.ts
  src/interaction-handlers/autocomplete.ts
  src/interaction-handlers/button.ts
  src/interaction-handlers/message-context-menu-command.ts
  src/message-builders/base.ts
  src/message-builders/emote-message-builder.ts
  src/message-builders/ping-for-ping-list-message-builder.ts
  src/message-builders/ping-for-ping-me-message-builder.ts
  src/message-builders/twitch-clip-message-builder.ts
  src/twitch-clips-meili-search.ts
  src/utils/boolean-to-string.ts
  src/utils/command-handlers/emote/download-asset.ts
  src/utils/command-handlers/platform-url-to-api-url.ts
  src/utils/emote-to-asset.ts
  src/utils/list-cutedog-clip-ids.ts
  src/utils/platform-to-string.ts
Owners: @Tresster, @gentlebob, @widepogcrazy

dropped better-sqlite3 in favor of sql.js to upgrade to node 25.0.0, added husky install script, added prettier sh plugin, more const assertations, upgraded version, other minor changes.
  .dockerignore
  .husky/install.ts
  .prettierignore
  .prettierrc.json
  Dockerfile
  compose.sample.yaml
  eslint.config.ts
  package-lock.json
  package.json
  src/api/added-emotes-database.ts
  src/api/base.ts
  src/api/broadcaster-name-and-personal-emote-sets-database.ts
  src/api/permitted-role-ids-database.ts
  src/api/ping-database.ts
  src/api/user.ts
  src/index.ts
  src/interaction-handlers/button.ts
Owners: @Tresster, @gentlebob

introduced project references. added base tsconfig, tsconfigs to reference folders, production tsconfig, vitest config. test changes. isolatedDeclarations compliance. upgraded version.
  .dockerignore
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  src/paths-and-endpoints.ts
  src/tsconfig.json
  src/tsconfig.production.json
  tests/emote-message-builder.test.ts
  tests/get-api-url.test.ts
  tests/tsconfig.json
  tests/twitch-clip-message-builder.test.ts
  tsconfig-base.json
  tsconfig.json
  vitest.config.ts
Owners: @Tresster

moved SUPPORT, updated CHANGELOG.
  .github/SUPPORT.md
  docs/CHANGELOG.md
Owners: @Tresster

added lib to tsconfig. tsconfig reorders, minor changes. const enums. EmoteNode private members.
  .dockerignore
  .gitignore
  eslint.config.ts
  src/emote-matcher.ts
  src/enums.ts
  src/index.ts
  src/message-builders/ping-for-ping-me-message-builder.ts
  src/tsconfig.json
  src/tsconfig.production.json
  src/types.ts
  tests/get-api-url.test.ts
  tests/tsconfig.json
  tsconfig-base.json
Owners: @Tresster, @gentlebob

test commit
  test.txt
Owners: @Tresster

replaced github image workflow versions with sha.
  .github/workflows/github-image.yml
  test.txt
Owners: @Tresster

added media system, upgraded version.
  Dockerfile
  package-lock.json
  package.json
  src/api/base.ts
  src/api/media-database.ts
  src/bot.ts
  src/command-handlers/media-list.ts
  src/command-handlers/media.ts
  src/commands.ts
  src/index.ts
  src/interaction-handlers/autocomplete.ts
  src/interaction-handlers/button.ts
  src/interaction-handlers/message-context-menu-command.ts
  src/interaction-handlers/modal-submit.ts
  src/message-builders/media-message-builder.ts
  src/message-create-handlers/message-create-handler.ts
  src/paths-and-endpoints.ts
  src/types.ts
Owners: @Tresster, @gentlebob

added reddit api and drama command. replaced fetch with node-fetch. added vscode settings.json. eslint changes. upgraded version.
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile
  compose.sample.yaml
  eslint.config.ts
  package-lock.json
  package.json
  src/api/reddit-api.ts
  src/api/twitch-api.ts
  src/bot.ts
  src/command-handlers/clip.ts
  src/command-handlers/drama.ts
  src/commands.ts
  src/index.ts
  src/interaction-handlers/message-context-menu-command.ts
  src/message-builders/twitch-clip-message-builder.ts
  src/paths-and-endpoints.ts
  src/tsconfig.json
  src/types.ts
  src/utils/api/reddit-api-utils.ts
  src/utils/api/twitch-api-utils.ts
  src/utils/constructors/new-reddit-api.ts
  src/utils/constructors/new-twitch-api.ts
  src/utils/list-cutedog-clip-ids.ts
  tsconfig-base.json
Owners: @Tresster, @gentlebob

removed signoff.
  .vscode/settings.json
Owners: @Tresster

updated changelog.
  docs/CHANGELOG.md
Owners: @Tresster

updated changelog.
  docs/CHANGELOG.md
Owners: @Tresster

added tsdoc config and tsdoc eslint plugin. bookmark changes.
  .vscode/bookmarks.json
  .vscode/settings.json
  eslint.config.ts
  package-lock.json
  package.json
  src/tsdoc.json
  tests/tsdoc.json
  tsdoc.json
Owners: @Tresster

readme changes.
  README.md
Owners: @Tresster

Create dependabot.yml
  .github/dependabot.yml
Owners: @Tresster

dependabot changes.
  .github/dependabot.yml
Owners: @Tresster

eslint changes, added tsdocs, base tsconfig changes, test changes, license change.
  .vscode/bookmarks.json
  .vscode/settings.json
  Dockerfile
  LICENSE.md
  LICENSE.txt
  eslint.config.ts
  package-lock.json
  package.json
  src/bot.ts
  src/index.ts
  src/interaction-handlers/message-context-menu-command.ts
  src/message-builders/base.ts
  tsconfig.base.json
  vitest.config.ts
Owners: @Tresster, @gentlebob

renamed tsconfig-base to tsconfig.base.
  src/tsconfig.json
  tests/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Owners: @Tresster

.
  Dockerfile
Owners: @Tresster

updated dockerfile, upgraded version.
  Dockerfile
  package-lock.json
  package.json
Owners: @Tresster

updated license.
  LICENSE
Owners: @Tresster
